*{
    font-family: Georgia, "Bitstream Vera Serif", Norasi, serif;
    font-size: 60px;
    margin: 0;
    padding: 0;
    outline: 0;
}

/*********************************************Partie Header*************************************************************/

header {
    margin: auto;
    height: 120px;
    display: flex;
    flex-direction: row;
    background: dodgerblue;
}

header div {
    width: 50%;
}

header nav {
    width: 50%;
    margin: 30px;
    background: red;
    border: solid 3px red;
    border-radius: 10px;
}

@media screen and (max-height:600px) {
  #menu li a {font-size:10px !important;}
  aside {display:none}
}

/*********************************************Partie Centrale***********************************************************/

section {
    background: #F7E0AE;
    display: flex;
    flex-direction: row;
}

#menu {
    display: flex;
    flex-direction: column;
}

section nav {
    background: #ea7f37;
    width: 250px;
    margin: 5px;
    vertical-align: top;
    border: solid 3px #ea7f37;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 10px;
}

ol{
    margin-left: 20px;
}

#mainsection nav li a {
    color:#FFFFFF;
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size: 25px;/* 14px;*/
    font-weight:bold;
}


/*********************************************Partie Aside**************************************************************/

section aside {
    width: 250px;
    background: #345361;
    margin: 5px;
    border: solid 3px #345361;
    border-radius: 10px;
    padding-bottom: 10px;
}

aside p {
    font-size: 1.5em;
    text-align: center;
    text-decoration: underline;
}

em{
    color: #CC3300;
    font-style: normal;
    font-size: larger;
}

p {
    margin: .75em 0;
}

article {

}

/*********************************************Partie Footer*************************************************************/

footer {
    height: 100px;
    background: #494949;
    color: white;
}
